<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>countdown_illustration.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,1308},{548,634}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,34},{548,634}}</string>
			<key>sourceSize</key>
			<string>{558,686}</string>
		</dict>
		<key>inaction_button_instructions1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1306,1447},{357,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,97}}</string>
			<key>sourceSize</key>
			<string>{357,97}</string>
		</dict>
		<key>inaction_button_instructions2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1207,1447},{357,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,97}}</string>
			<key>sourceSize</key>
			<string>{357,97}</string>
		</dict>
		<key>inaction_button_try1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1108,1447},{357,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,97}}</string>
			<key>sourceSize</key>
			<string>{357,97}</string>
		</dict>
		<key>inaction_button_try2.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,1204},{357,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,97}}</string>
			<key>sourceSize</key>
			<string>{357,97}</string>
		</dict>
		<key>inaction_button_watchagain1.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,1204},{357,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,97}}</string>
			<key>sourceSize</key>
			<string>{357,97}</string>
		</dict>
		<key>inaction_button_watchagain2.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,1944},{357,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,97}}</string>
			<key>sourceSize</key>
			<string>{357,97}</string>
		</dict>
		<key>inaction_creambg.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,1303},{523,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{523,69}}</string>
			<key>sourceSize</key>
			<string>{523,69}</string>
		</dict>
		<key>inaction_timer.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1950},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{96,96}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>instructions_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1998,1246},{44,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,14},{44,71}}</string>
			<key>sourceSize</key>
			<string>{94,99}</string>
		</dict>
		<key>instructions_bernie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,656},{287,650}}</string>
			<key>offset</key>
			<string>{-13,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,14},{287,650}}</string>
			<key>sourceSize</key>
			<string>{365,674}</string>
		</dict>
		<key>instructions_bernie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,2},{267,650}}</string>
			<key>offset</key>
			<string>{8,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,14},{267,650}}</string>
			<key>sourceSize</key>
			<string>{365,674}</string>
		</dict>
		<key>instructions_bernie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{285,652}}</string>
			<key>offset</key>
			<string>{25,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,12},{285,652}}</string>
			<key>sourceSize</key>
			<string>{365,674}</string>
		</dict>
		<key>instructions_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,1303},{523,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{523,258}}</string>
			<key>sourceSize</key>
			<string>{523,258}</string>
		</dict>
		<key>instructions_button_action1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,203},{239,65}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,65}}</string>
			<key>sourceSize</key>
			<string>{249,65}</string>
		</dict>
		<key>instructions_button_action2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,136},{239,65}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,65}}</string>
			<key>sourceSize</key>
			<string>{249,65}</string>
		</dict>
		<key>instructions_button_back1.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,2},{119,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,65}}</string>
			<key>sourceSize</key>
			<string>{119,65}</string>
		</dict>
		<key>instructions_button_back2.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,2},{119,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,65}}</string>
			<key>sourceSize</key>
			<string>{119,65}</string>
		</dict>
		<key>instructions_button_try1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,1380},{189,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,65}}</string>
			<key>sourceSize</key>
			<string>{189,65}</string>
		</dict>
		<key>instructions_button_try2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,1313},{189,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,65}}</string>
			<key>sourceSize</key>
			<string>{189,65}</string>
		</dict>
		<key>instructions_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,1944},{104,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,2}}</string>
			<key>sourceSize</key>
			<string>{104,2}</string>
		</dict>
		<key>instructions_top_banner.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1308},{640,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,86}}</string>
			<key>sourceSize</key>
			<string>{640,86}</string>
		</dict>
		<key>mainmenu_button_multi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,674},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>mainmenu_button_multi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1405,674},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>mainmenu_button_single1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,567},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>mainmenu_button_single2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1405,567},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>mainmenu_cream_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,2},{455,331}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,331}}</string>
			<key>sourceSize</key>
			<string>{455,331}</string>
		</dict>
		<key>mainmenu_logo1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,758},{486,205}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{486,205}}</string>
			<key>sourceSize</key>
			<string>{506,219}</string>
		</dict>
		<key>mainmenu_logo2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,270},{486,205}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{486,205}}</string>
			<key>sourceSize</key>
			<string>{506,219}</string>
		</dict>
		<key>multiplayer_hostorjoin_button_host1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,460},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>multiplayer_hostorjoin_button_host2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1405,460},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>multiplayer_hostorjoin_button_join1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1419,1934},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>multiplayer_hostorjoin_button_join2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1072,1827},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>results_button_mainmenu_left1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,69},{239,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,65}}</string>
			<key>sourceSize</key>
			<string>{239,65}</string>
		</dict>
		<key>results_button_mainmenu_left2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,2},{239,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,65}}</string>
			<key>sourceSize</key>
			<string>{239,65}</string>
		</dict>
		<key>results_button_tryagain1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,1246},{189,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,65}}</string>
			<key>sourceSize</key>
			<string>{189,65}</string>
		</dict>
		<key>results_button_tryagain2.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,459},{189,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,65}}</string>
			<key>sourceSize</key>
			<string>{189,65}</string>
		</dict>
		<key>results_correct.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,69},{94,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{94,81}}</string>
			<key>sourceSize</key>
			<string>{98,85}</string>
		</dict>
		<key>results_cream_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,1828},{430,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,111}}</string>
			<key>sourceSize</key>
			<string>{430,111}</string>
		</dict>
		<key>results_do_better.png</key>
		<dict>
			<key>frame</key>
			<string>{{1306,2},{456,147}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,5},{456,147}}</string>
			<key>sourceSize</key>
			<string>{536,153}</string>
		</dict>
		<key>results_dot.png</key>
		<dict>
			<key>frame</key>
			<string>{{2014,270},{26,27}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{26,27}}</string>
			<key>sourceSize</key>
			<string>{30,33}</string>
		</dict>
		<key>results_incorrect.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,123},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{77,75}</string>
		</dict>
		<key>results_minus1.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,152},{55,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{55,54}}</string>
			<key>sourceSize</key>
			<string>{61,58}</string>
		</dict>
		<key>results_minus2.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,152},{55,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{55,54}}</string>
			<key>sourceSize</key>
			<string>{61,58}</string>
		</dict>
		<key>results_nice_moves.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,1303},{522,135}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{522,135}}</string>
			<key>sourceSize</key>
			<string>{536,153}</string>
		</dict>
		<key>results_plus1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1065,1246},{55,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{55,54}}</string>
			<key>sourceSize</key>
			<string>{61,58}</string>
		</dict>
		<key>results_plus2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,1246},{55,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{55,54}}</string>
			<key>sourceSize</key>
			<string>{61,58}</string>
		</dict>
		<key>results_so_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,136},{516,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,2},{516,149}}</string>
			<key>sourceSize</key>
			<string>{536,153}</string>
		</dict>
		<key>select_dance_bernie.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,650},{260,155}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{260,155}}</string>
			<key>sourceSize</key>
			<string>{272,161}</string>
		</dict>
		<key>select_dance_button_next1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1108,1303},{119,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,65}}</string>
			<key>sourceSize</key>
			<string>{119,65}</string>
		</dict>
		<key>select_dance_button_next2.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,2},{119,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,65}}</string>
			<key>sourceSize</key>
			<string>{119,65}</string>
		</dict>
		<key>select_dance_button_prev1.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,2},{119,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,65}}</string>
			<key>sourceSize</key>
			<string>{119,65}</string>
		</dict>
		<key>select_dance_button_prev2.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,2},{119,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,65}}</string>
			<key>sourceSize</key>
			<string>{119,65}</string>
		</dict>
		<key>select_dance_soon.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,123},{320,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{320,77}}</string>
			<key>sourceSize</key>
			<string>{326,79}</string>
		</dict>
		<key>waitingroom_avatar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,2},{53,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,8},{53,130}}</string>
			<key>sourceSize</key>
			<string>{81,146}</string>
		</dict>
		<key>waitingroom_button_start1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1031,1941},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>waitingroom_button_start2.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,1941},{386,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,105}}</string>
			<key>sourceSize</key>
			<string>{386,105}</string>
		</dict>
		<key>waitingroom_connecting1.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,654},{548,218}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{548,218}}</string>
			<key>sourceSize</key>
			<string>{550,220}</string>
		</dict>
		<key>waitingroom_connecting2.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,654},{548,218}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{548,218}}</string>
			<key>sourceSize</key>
			<string>{550,220}</string>
		</dict>
		<key>waitingroom_label_host.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,1948},{98,90}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,7},{98,90}}</string>
			<key>sourceSize</key>
			<string>{140,102}</string>
		</dict>
		<key>waitingroom_label_you.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1948},{98,90}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,7},{98,90}}</string>
			<key>sourceSize</key>
			<string>{140,102}</string>
		</dict>
		<key>waitingroom_loader1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2014,778},{118,18}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{118,18}}</string>
			<key>sourceSize</key>
			<string>{124,22}</string>
		</dict>
		<key>waitingroom_loader2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2014,658},{118,18}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{118,18}}</string>
			<key>sourceSize</key>
			<string>{124,22}</string>
		</dict>
		<key>waitingroom_loader3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2014,538},{118,18}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{118,18}}</string>
			<key>sourceSize</key>
			<string>{124,22}</string>
		</dict>
		<key>waitingroom_loader4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2014,418},{118,18}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{118,18}}</string>
			<key>sourceSize</key>
			<string>{124,22}</string>
		</dict>
		<key>waitingroom_loader5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2014,298},{118,18}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{118,18}}</string>
			<key>sourceSize</key>
			<string>{124,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spritesheet-ipad.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c554cc2237c14081496575279aee3360$</string>
		<key>textureFileName</key>
		<string>spritesheet-ipad.pvr.ccz</string>
	</dict>
</dict>
</plist>
